:root {
    --primary: #0d6efd;
}

h1 {
    text-align: center;
}

header {
    margin: 50px 0;
}

#login h3, #register h3 {
    padding: 10px;
    background-color: var(--primary);
    color:white;
}

form {
    margin-top: -10px;
    padding: 10px;
    border: 2px solid lightslategray;
}

@media only screen and (max-width: 767px) {
    #login, #register {
        margin: 15px 0;
    }
}