<section id="user-info">
    <div class="row justify-content-center">
        <div class="col">
            <img src="/images/profile-icon.png"><br>
            <a href="#">Edit profile photo</a>
        </div>
        <div class="col">
            <h3>Username</h3>
            <span class="badge bg-warning">Owner</span>
            <span class="badge bg-danger">Sitter</span>
        </div>
    </div>
</section>

<section id="create-forms">
    <div id="new-post" class="container">
        <form class="new-post-form">
            <h3>Create New Post</h3>
            <div>
                <label for="post-title">Title</label>
                <input type="text" id="post-title" name="post-title" />
            </div>
            <div>
                <label for="post-url">Link</label>
                <input id="post-url" name="post-url" />
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
    
</section>

{{#if posts.length}}
<section id="your-posts">
    <h3>Your Posts</h3>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>