<section id="user-info">
    <div class="row justify-content-center">
        <div class="col">
            <img src="/images/profile-icon.png">            
        </div>
        <div class="col">
            <h3>Welcome!</h3>
            <a href="#">Edit profile photo</a>
        </div>
    </div>
</section>

{{#if posts.length}}
<section id="your-posts">
    <h3>Your Posts</h3>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
